<!DOCTYPE html>
<html lang="ru">
<head>
<%- include('../include/head') %> 
</head>
<body>
    <%- include('../include/header') %> 
    <%- include('../include/article') %> 
    <%- include('../include/footer') %> 
</body>
</html>